# This file contains pin mappings and default configurations for the Lulzbot TAZ 6
# printer with a RAMBo v1.3 controller board.

# To use this config, the firmware should be compiled for the AVR atmega2560.
# (The same firmware hex built for TAZ 3 can be used as both printers use the 
# ATmega2560 RAMBo board.)

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PC4
dir_pin: PL4
enable_pin: !PA2
microsteps: 16
rotation_distance: 32
endstop_pin: ^PB5
position_endstop: -20
position_min: -20
position_max: 300
homing_speed: 50

[stepper_y]
step_pin: PC1
dir_pin: PL0
enable_pin: !PA6
microsteps: 16
rotation_distance: 32
endstop_pin: ^PA1
position_endstop: -150
position_min: -150
position_max: 150
homing_speed: 50

[stepper_z]
step_pin: PC2
dir_pin: PL2
enable_pin: !PA5
microsteps: 16
rotation_distance: 2
endstop_pin: ^PB4
position_endstop: -0.7
position_min: -1.5
position_max: 280
homing_speed: 5

[manual_stepper stepper_a]
step_pin: PC0
dir_pin: PL1
enable_pin: !PA7
microsteps: 16
# For degrees: 360 units per full turn (accounting for gear ratio if applicable)
rotation_distance: 360
# gear_ratio: 50:1              # optional gear ratio
velocity: 50                   # default max velocity (deg/s)
accel: 500                     # default max accel (deg/s^2)
endstop_pin: ^PB6              # optional homing endstop pin

# Settings for "Tilapia" Hexagon extruder (TAZ6 standard)
# klippy won't run without an extruder. since we don't have one connected, we set the temperature bounds to max to suppress errors
[extruder]
step_pin: PC3
dir_pin: !PL6
enable_pin: !PA4
microsteps: 16
gear_ratio: 48:9
rotation_distance: 20.562
nozzle_diameter: 0.400
filament_diameter: 2.920
heater_pin: PH6
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF0
control: pid
pid_Kp: 28.79
pid_Ki: 1.91
pid_Kd: 108.51
# min_temp: 0
# max_temp: 300
# min_extrude_temp: 140
min_temp = -273.15
min_extrude_temp = -273.15
max_temp = 99999999

#[heater_bed]
#heater_pin: PE5
#sensor_type: Honeywell 100K 135-104LAG-J01
#sensor_pin: PF2
#control: pid
#pid_Kp: 162.0
#pid_Ki: 17.0
#pid_Kd: 378.0
#min_temp: 0
#max_temp: 130

[output_pin hotwire]
pin: PE5
pwm: True
value: 0.0
shutdown_value: 0.0
cycle_time: 0.010
scale: 100

[fan]
pin: PH5

[heater_fan heatbreak_cooling_fan]
pin: PH3

[mcu]
serial: /dev/tty.usbmodem2101

[printer]
kinematics: cartesian
max_velocity: 18000
max_accel: 3000
max_z_velocity: 400
max_z_accel: 50

# Digital potentiometer current controls (built-in on RAMBo)
[ad5206 stepper_digipot]
enable_pin: PD7
scale: 2.08
# Channel 1 is E0, 2 is E1, 3 is unused, 4 is Z, 5 is X, 6 is Y
channel_1: 1.34
channel_2: 1.0
channel_4: 1.1
channel_5: 1.1
channel_6: 1.1

# Enable 16 micro-steps on X, Y, Z, E0, E1 stepper drivers
[static_digital_output stepper_config]
pins:
    PG1, PG0,
    PK7, PG2,
    PK6, PK5,
    PK3, PK4,
    PK1, PK2

# Status LED
[static_digital_output yellow_led]
pins: !PB7

# ST7920 Full Graphic LCD Controller (stock TAZ 6 screen)
[display]
lcd_type: st7920
cs_pin: PG4
sclk_pin: PJ2
sid_pin: PG3
encoder_pins: ^PJ6, ^PJ5
click_pin: ^!PE2
menu_timeout: 5

[probe]
pin: ^!PA0
z_offset: 1.377
speed: 0.5
lift_speed: 1.5
samples: 2
sample_retract_dist: 1.0
samples_tolerance: 0.075

[bed_tilt]
points: -9, 315
        289.4, 315
        289.4, 16
        -9, 17
speed: 75
horizontal_move_z: 5

# [safe_z_home]
# home_xy_position: -19.1, 46.7
# speed: 50.0
# z_hop: 10.0
# z_hop_speed: 5.0

# Perform Auto Bed Leveling by running G29 in print start gcode
[gcode_macro G29]
gcode:
    BED_TILT_CALIBRATE

[homing_override]
gcode:
    G28 Y
    G28 Z
    G1 Y0 F9000
set_position_x: 0
